force-app/main/default/flows/get_permit_value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_the_value_for_quantity3</name>
        <label>assign the value for quantity3</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Permit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>change_permit_value_when_quantity3</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_the_value_for_quantity_2</name>
        <label>assign the value for quantity 2</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Permit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>change_permit_value_when_quantity2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_for_checking_quantity</name>
        <label>decision for checking quantity</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_quantity_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_permit_value_when_quantity_is_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>if quantity is 1</label>
        </rules>
        <rules>
            <name>if_quantity_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_the_value_for_quantity_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>if quantity is 2</label>
        </rules>
        <rules>
            <name>if_quantity_is_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_the_value_for_quantity3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>if quantity is 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>change_permit_value_when_quantity2</name>
        <dataType>Currency</dataType>
        <expression>2*150</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>change_permit_value_when_quantity3</name>
        <dataType>Currency</dataType>
        <expression>3*150</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>change_permit_value_when_quantity_1</name>
        <dataType>Currency</dataType>
        <expression>1*150</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>when_quantity_1</name>
        <dataType>Currency</dataType>
        <expression>1*150</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>get permit value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>get permit value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>change_permit_value_when_quantity_is_1</name>
        <label>change permit value when quantity 1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Permit_Price__c</field>
            <value>
                <elementReference>when_quantity_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_for_checking_quantity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
