force-app/main/default/flows/Update_Contact_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_account_values</name>
        <label>Assign account values</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varparentaccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Value</name>
        <label>Counter Value</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varContactCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Contact on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact on Account</label>
    <loops>
        <name>Iterate_contacts</name>
        <label>Iterate contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>varContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_account_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Counter_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Contacts</name>
        <label>Get Child Contacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varparentaccount</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactList</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>varAccountUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Contacts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varContactCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varparentaccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
